.imageContainer {
    display: inline-flex;
    width: 25%;
}

img {
    height: 225px;
    width: 250px;
    border-radius: 10%;

}

.pinterestHeader {
    text-align: center;
}

p, h1 {
    color: #555;
}